@import 'tailwindcss';

@theme {
  --color-primary: rgb(var(--primary));
  --color-color1: rgb(var(--color1));
  --color-color2: rgb(var(--color2));
  --color-faded: rgb(var(--faded));

  --breakpoint-sm: 394px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  @font-face {
    font-family: Righteous;
    src: url('../fonts/Righteous-Regular.ttf') format('truetype-variations');
  }
}

:root {
  --primary: 165 180 252;
  --color1: 129 140 248;
  --color2: 244 114 183;
  --faded: 175 175 175;
}

body {
  font-family: Righteous, cursive;
}

/* This one is a replacement for h-screen */
.h-device {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* Click effect */
.bubbly:before, .bubbly:after {
  position: absolute;
  content: "";
  width: 140%;
  height: 100%;
  left: -20%;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly:before {
  display: none;
  top: -75%;
  background-size: 20% 20%, 40% 40%, 30% 30%, 40% 40%, 36% 36%, 20% 20%, 30% 30%, 20% 20%, 36% 36%;
}
.bubbly.sel-color1:before, .bubbly.sel-color1:after {
  background-image: radial-gradient(circle, cornflowerblue 20%, transparent 20%), radial-gradient(circle, transparent 20%, cornflowerblue 20%, transparent 30%), radial-gradient(circle, cornflowerblue 20%, transparent 20%), radial-gradient(circle, cornflowerblue 20%, transparent 20%), radial-gradient(circle, transparent 10%, cornflowerblue 15%, transparent 20%), radial-gradient(circle, cornflowerblue 20%, transparent 20%), radial-gradient(circle, cornflowerblue 20%, transparent 20%), radial-gradient(circle, cornflowerblue 20%, transparent 20%), radial-gradient(circle, cornflowerblue 20%, transparent 20%);
}
.bubbly.sel-color2:before, .bubbly.sel-color2:after {
  background-image: radial-gradient(circle, hotpink 20%, transparent 20%), radial-gradient(circle, transparent 20%, hotpink 20%, transparent 30%), radial-gradient(circle, hotpink 20%, transparent 20%), radial-gradient(circle, hotpink 20%, transparent 20%), radial-gradient(circle, transparent 10%, hotpink 15%, transparent 20%), radial-gradient(circle, hotpink 20%, transparent 20%), radial-gradient(circle, hotpink 20%, transparent 20%), radial-gradient(circle, hotpink 20%, transparent 20%), radial-gradient(circle, hotpink 20%, transparent 20%);
}
.bubbly:after {
  display: none;
  bottom: -75%;
  background-size: 30% 30%, 40% 40%, 36% 36%, 40% 40%, 30% 30%, 20% 20%, 40% 40%;
}
.bubbly:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
.animate-bounce {
  animation-timing-function: ease-in-out;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
